.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 0.1px solid lightgray;
  padding: 20px;
}

.login__container > h1 {
  margin-bottom: 20px;
}

.login__container > form > h3 {
  margin-bottom: 5px;
  font-weight: 600;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  border: 0px;
  border: 0.5px solid lightgray;
  width: 98%;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: 15px;
}

.login__signInButton {
  background: #ffc32b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid lightgray;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.login__registerButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid lightgray;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
